@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>异常</title>
</head>
<body>
    <p>
        抛错控制器：<b>@Model.ControllerName</b> 抛错方法：<b>@Model.ActionName</b> 抛错类型：<b>@Model.Exception.GetType().Name</b>
    </p>
    <p>
        异常信息：<b>@Model.Exception.Message</b>
    </p>
    <p>
        堆栈信息:</p>
    <pre>@Model.Exception.StackTrace</pre>
</body>
</html>
